<a href="https://colab.research.google.com/github/DAVIDnHANG/DS-Unit-2-Regression-Classification/blob/master/module3/A3_Regression_%26_Classification_SelectKBest%2C_Ridge_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pca cares about the magnitude of things.

#why should we scalize?
1) standardize first.
2) to make slopes for different columns comparable
3)

correlation matrix - 

```
.5, .7 bigger than .5. then this is good.

```

In [0]:
#imports here
import pandas as pd
import pandas_profiling
import datetime as dt
import numpy as np

In [0]:
# Read New York City property sales data
df = pd.read_csv('https://raw.githubusercontent.com/DAVIDnHANG/DS-Unit-2-Regression-Classification/master/data/condos/NYC_Citywide_Rolling_Calendar_Sales.csv')

# Change column names: replace spaces with underscores
df.columns = [col.replace(' ', '_') for col in df]

# SALE_PRICE was read as strings.
# Remove symbols, convert to integer
df['SALE_PRICE'] = (
    df['SALE_PRICE']
    .str.replace('$','')
    .str.replace('-','')
    .str.replace(',','')
    .astype(int))

In [0]:
# BOROUGH is a numeric column, but arguably should be a categorical feature,
# so convert it from a number to a string
df['BOROUGH'] = df['BOROUGH'].astype(str)

# Reduce cardinality for NEIGHBORHOOD feature

# Get a list of the top 10 neighborhoods
top10 = df['NEIGHBORHOOD'].value_counts()[:10].index

# At locations where the neighborhood is NOT in the top 10, 
# replace the neighborhood with 'OTHER'
df.loc[~df['NEIGHBORHOOD'].isin(top10), 'NEIGHBORHOOD'] = 'OTHER'
#restrict the data set between 100k to 2million of SALE_PRICE

#Turn the SALE PRICE, a object str, into a int.
df['SALE_PRICE'].astype(str).astype(int)
df['SALE_PRICE'] =df['SALE_PRICE'].replace(np.nan,0)
df=df.loc[(df['SALE_PRICE'] >= 100000) & (df['SALE_PRICE'] <= 2000000)]
df.head(3)

   BOROUGH NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
44       3        OTHER  ...     550000  01/01/2019
61       4        OTHER  ...     200000  01/01/2019
65       1        OTHER  ...    2000000  01/02/2019

[3 rows x 21 columns]

In [0]:
#restrict the date set further into only '01 ONE FAMILY DWELLINGS'
df=df.loc[(df['BUILDING_CLASS_CATEGORY'] == '01 ONE FAMILY DWELLINGS')]
df.head(3)

   BOROUGH NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
44       3        OTHER  ...     550000  01/01/2019
61       4        OTHER  ...     200000  01/01/2019
78       2        OTHER  ...     810000  01/02/2019

[3 rows x 21 columns]

In [0]:
#SALE_DATE is in the format DD/MM/YYYY
df['SALE_DATE'] = pd.to_datetime(df['SALE_DATE'])
start_date = '01/01/2019'
end_date = '03/30/2019'
mask = (df['SALE_DATE'] > start_date) & (df['SALE_DATE'] <= end_date)
train_Date_March_April = df.loc[mask]
print(train_Date_March_April.shape)

df['SALE_DATE'] = pd.to_datetime(df['SALE_DATE'])
start_date_test = '04/01/2019'
end_date_test = '04/30/2019'
mask_test = (df['SALE_DATE'] > start_date_test) & (df['SALE_DATE'] <= end_date_test)
test_April = df.loc[mask_test]
print(test_April.shape)


target = 'SALE_PRICE'

y_train = train_Date_March_April[target]
y_test = test_April[target]

(2515, 21)
(606, 21)

In [0]:
train_Date_March_April.columns

BOROUGH                                   object
NEIGHBORHOOD                              object
BUILDING_CLASS_CATEGORY                   object
TAX_CLASS_AT_PRESENT                      object
BLOCK                                      int64
LOT                                        int64
EASE-MENT                                float64
BUILDING_CLASS_AT_PRESENT                 object
ADDRESS                                   object
APARTMENT_NUMBER                          object
ZIP_CODE                                 float64
RESIDENTIAL_UNITS                        float64
COMMERCIAL_UNITS                         float64
TOTAL_UNITS                              float64
LAND_SQUARE_FEET                          object
GROSS_SQUARE_FEET                        float64
YEAR_BUILT                               float64
TAX_CLASS_AT_TIME_OF_SALE                  int64
BUILDING_CLASS_AT_TIME_OF_SALE            object
SALE_PRICE                                 int64
SALE_DATE                         datetime64[ns]
dtype: object

In [0]:
train_Date_March_April.columns

In [0]:
drop =['BOROUGH', 'NEIGHBORHOOD', 'BUILDING_CLASS_CATEGORY', 'TAX_CLASS_AT_PRESENT', 'BLOCK', 'LOT', 
       'BUILDING_CLASS_AT_PRESENT', 'ADDRESS', 'APARTMENT_NUMBER', 'EASE-MENT', 'BLOCK', 'LOT', 'RESIDENTIAL_UNITS', 'COMMERCIAL_UNITS', 'TOTAL_UNITS', 'LAND_SQUARE_FEET', 'GROSS_SQUARE_FEET', 
       'TAX_CLASS_AT_TIME_OF_SALE', 'BUILDING_CLASS_AT_TIME_OF_SALE', 'SALE_DATE']
train_Date_March_April = train_Date_March_April.drop(drop, axis=1)    
test_April = test_April.drop(drop, axis=1)  
train_Date_March_April.dtypes

ZIP_CODE      float64
YEAR_BUILT    float64
SALE_PRICE      int64
dtype: object

KbestFit with scaler

In [0]:
from sklearn.feature_selection import f_regression, SelectKBest
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(train_Date_March_April)
X_test_scaled = scaler.transform(test_April)
for k in range(1, len(train_Date_March_April.columns)+1):
   print(f'{k} features')
   selector = SelectKBest(score_func=f_regression, k=k)
   X_train_selected = selector.fit_transform(X_train_scaled, y_train)
   X_test_selected = selector.transform(X_test_scaled)
   model = LinearRegression()
   model.fit(X_train_selected, y_train)
   y_pred = model.predict(X_test_selected)
   mae = mean_absolute_error(y_test, y_pred)
   print(f'Test MAE: ${mae:,.0f} \n')

#make sure you feed only numeric datatypes

1 features
Test MAE: $214,196

2 features
Test MAE: $213,832

3 features
Test MAE: $0

In [0]:
selector = SelectKBest(score_func=f_regression, k=15)
all_names = train_Date_March_April.columns
selected_mask = selector.get_support()
selected_names = all_names[selected_mask]
unselected_names = all_name[~selected_mask]

print('Features selected:')
for name in selected_names:
    print(name)
    
print('\n')
print('Features not selected:')
for name in unselected_names:
    print(name)

# Ridge *Regression*

In [0]:
import pandas as pd
from sklearn.datasets import load_boston
from sklearn.preprocessing import scale


#SALE_DATE is in the format DD/MM/YYYY
df['SALE_DATE'] = pd.to_datetime(df['SALE_DATE'])
start_date = '01/01/2019'
end_date = '03/30/2019'
mask = (df['SALE_DATE'] > start_date) & (df['SALE_DATE'] <= end_date)
train_Date_March_April = df.loc[mask]
print(train_Date_March_April.shape)

df['SALE_DATE'] = pd.to_datetime(df['SALE_DATE'])
start_date_test = '04/01/2019'
end_date_test = '04/30/2019'
mask_test = (df['SALE_DATE'] > start_date_test) & (df['SALE_DATE'] <= end_date_test)
test_April = df.loc[mask_test]
print(test_April.shape)

target = 'SALE_PRICE'
high_cardiantlity = ['BOROUGH','NEIGHBORHOOD','BUILDING_CLASS_CATEGORY',
       'BLOCK','LOT' ,'LOT', 'EASE-MENT','BUILDING_CLASS_AT_PRESENT', 'BUILDING_CLASS_AT_PRESENT',
       'ADDRESS','ADDRESS','APARTMENT_NUMBER' ,'APARTMENT_NUMBER', 'ZIP_CODE', 'BUILDING_CLASS_AT_TIME_OF_SALE',
       'ZIP_CODE', 'GROSS_SQUARE_FEET']
features = train_Date_March_April.columns.drop(high_cardiantlity + [target])

target = 'SALE_PRICE'

X_train = train_Date_March_April[features]
y_test = train_Date_March_April[target]

X_test = test_April[features]
y_test = test_April[target]

In [0]:
# Let's try good old least squares!
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

X = df.drop('Price', axis='columns')
y = df.Price

lin_reg = LinearRegression().fit(X, y)
mean_squared_error(y, lin_reg.predict(X))

21.894831181729206

In [0]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=43)
lin_reg_split = LinearRegression().fit(X_train, y_train)
print(mean_squared_error(y, lin_reg_split.predict(X)))
print(mean_squared_error(y_test, lin_reg_split.predict(X_test)))

22.347018673376052
26.273991426429014

In [0]:
# Now with regularization via ridge regression
from sklearn.linear_model import Ridge

ridge_reg = Ridge().fit(X, y)
mean_squared_error(y, ridge_reg.predict(X))

21.895862166800143

In [0]:
X.dtypes

CRIM       float64
ZN         float64
INDUS      float64
CHAS       float64
NOX        float64
RM         float64
AGE        float64
DIS        float64
RAD        float64
TAX        float64
PTRATIO    float64
B          float64
LSTAT      float64
dtype: object

In [0]:
ridge_reg_split = Ridge().fit(X_train, y_train)
mean_squared_error(y_test, ridge_reg_split.predict(X_test))

26.192201358877668

In [0]:
alphas = []
mses = []

for alpha in range(0, 200, 1):
    ridge_reg_split = Ridge(alpha=alpha).fit(X_train, y_train)
    mse = mean_squared_error(y_test, ridge_reg_split.predict(X_test))
    print(alpha, mse)
    alphas.append(alpha)
    mses.append(mse)

0 26.273991426429053
1 26.192201358877668
2 26.118328007697226
3 26.051117952293595
4 25.989569283205444
5 25.93287356811407
6 25.880372753122625
7 25.831526788692837
8 25.785889053385123
9 25.743087513207442
10 25.702810145277628
11 25.66479356379559
12 25.628814073392263
13 25.59468057863174
14 25.56222892458644
15 25.53131734932431
16 25.50182280665663
17 25.473637974726547
18 25.44666880864133
19 25.420832527348388
20 25.396055949160893
21 25.372274108781504
22 25.349429102822004
23 25.327469121742823
24 25.30634763462536
25 25.286022699825878
26 25.266456379775086
27 25.24761424230921
28 25.229464934192976
29 25.211979815108453
30 25.19513264248022
31 25.178899299197408
32 25.163257557659424
33 25.14818687468406
34 25.13366821272317
35 25.11968388357409
36 25.106217411385522
37 25.093253412260974
38 25.080777488180427
39 25.068776133307583
40 25.057236651039766
41 25.046147080399017
42 25.035496130566347
43 25.02527312253186
44 25.015467936977434
45 25.006070967630855
46 24.997073079433843
47 24.98846557095439
48 24.980240140548986
49 24.972388855844812
50 24.96490412616673
51 24.95777867758141
52 24.951005530271846
53 24.944577977990345
54 24.9384895693689
55 24.9327340908919
56 24.92730555135946
57 24.92219816768905
58 24.917406351921144
59 24.912924699309215
60 24.9087479773882
61 24.904871115926827
62 24.901289197679855
63 24.897997449864803
64 24.8949912362963
65 24.892266050117623
66 24.889817507075655
67 24.88764133929069
68 24.885733389477625
69 24.88408960557926
70 24.882706035776263
71 24.88157882384208
72 24.880704204813682
73 24.880078500952195
74 24.879698117969724
75 24.879559541500758
76 24.87965933379892
77 24.879994130641087
78 24.8805606384229
79 24.881355631430836
80 24.882375949277577
81 24.88361849448833
82 24.88508023022692
83 24.886758178151386
84 24.888649416389928
85 24.89075107762813
86 24.89306034730016
87 24.895574461876226
88 24.898290707239912
89 24.90120641714914
90 24.90431897177517
91 24.907625796314402
92 24.911124359668285
93 24.914812173186736
94 24.918686789471128
95 24.92274580123304
96 24.92698684020521
97 24.93140757610152
98 24.93600571562298
99 24.94077900150688
100 24.945725211616683
101 24.950842158070053
102 24.95612768640294
103 24.96157967476758
104 24.96719603316249
105 24.972974702692664
106 24.97891365485829
107 24.985010890870456
108 24.99126444099231
109 24.99767236390434
110 25.004232746092597
111 25.010943701258537
112 25.017803369749362
113 25.02480991800798
114 25.0319615380414
115 25.03925644690685
116 25.04669288621445
117 25.05426912164612
118 25.061983442489353
119 25.069834161185728
120 25.077819612893087
121 25.085938155060855
122 25.09418816701804
123 25.102568049573183
124 25.111076224625787
125 25.119711134788766
126 25.128471243021377
127 25.137355032272303
128 25.14636100513223
129 25.155487683495902
130 25.164733608232837
131 25.174097338866744
132 25.183577453263027
133 25.193172547324206
134 25.2028812346929
135 25.212702146462046
136 25.222633930892243
137 25.232675253135735
138 25.24282479496694
139 25.25308125451928
140 25.26344334602802
141 25.273909799578966
142 25.284479360862818
143 25.29515079093497
144 25.305922865980495
145 25.31679437708437
146 25.32776413000649
147 25.338830944961526
148 25.349993656403374
149 25.361251112814
150 25.37260217649681
151 25.384045723373994
152 25.39558064278813
153 25.407205837307533
154 25.418920222535693
155 25.430722726924202
156 25.442612291589445
157 25.45458787013271
158 25.466648428463827
159 25.478792944627976
160 25.491020408635883
161 25.50332982229701
162 25.515720199055906
163 25.528190563831558
164 25.540739952859465
165 25.5533674135368
166 25.56607200427009
167 25.578852794325684
168 25.591708863682904
169 25.604639302889613
170 25.617643212920317
171 25.63071970503678
172 25.643867900650903
173 25.657086931189966
174 25.670375937964163
175 25.68373407203625
176 25.697160494093474
177 25.71065437432154
178 25.724214892280617
179 25.737841236783435
180 25.751532605775324
181 25.765288206216116
182 25.779107253964067
183 25.792988973661497
184 25.8069325986223
185 25.820937370721257
186 25.83500254028498
187 25.849127365984653
188 25.863311114730404
189 25.87755306156723
190 25.891852489572667
191 25.906208689755893
192 25.920620960958406
193 25.93508860975623
194 25.949610950363557
195 25.964187304537848
196 25.97881700148633
197 25.99349937777395
198 26.008233777232597
199 26.023019550871716

In [0]:
df_tiny = df.sample(10, random_state=27)
print(df_tiny.shape)
X = df_tiny.drop('Price', axis='columns')
y = df_tiny.Price

lin_reg = LinearRegression().fit(X, y)
lin_reg.score(X, y)  # Perfect multi-collinearity!
# NOTE - True OLS would ðŸ’¥ here
# scikit protects us from actual error, but still gives a poor model

(10, 14)

1.0